%p.text-center
  = link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-primary btn-lg sign-in-button' do
    %span
      %i.fa.fa-facebook.fa-2x.pull-left
        %span
          Sign in with Facebook
