.avatar {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.sign-in-button {
  margin-top: 50px;
  & span {
    vertical-align: top;
  }
}

#errors_full_text {
  padding: 10px;
  margin-bottom: 10px;
  h2 {
    font-size: 18px;
  }
}

.delete-button {
  margin-left: 10px;
}
