- if user_signed_in?
  %li= link_to 'Sign out', destroy_user_session_path, :method=>'delete'
- else
  %li= link_to 'Sign in', user_omniauth_authorize_path(:facebook)
- if user_signed_in?
  %li= link_to 'Users', users_path
